/* banner */
div.banner{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    /* background-image: url(../img/aboutbanner.jpg); */
    background: linear-gradient(90deg, #efede1 0%, transparent 10%), linear-gradient(-90deg, #efede1 0%, transparent 10%),url(../img/aboutbanner.jpg) center center / 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:767px){
    div.banner{
        height: 400px;
  }
}

@media(max-width:575px){
    div.banner{
        height: 230px;
  }
}

div.banner h2.pagename{
    font-weight: bold;
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
    display: block;
    text-shadow:black 1px 1px 4px;
    background-color: rgba(239, 237, 225,0.3);
    padding: 20px;
    font-family: "Arial";
}

/* 內容 */
div.main{
  margin-bottom: 80px;
}

section{
    /* border: 1px solid blue; */
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 50px 0px;
}

div.img{
  /* border: 1px solid orange; */
  width: 400px;
  overflow: hidden;
  box-shadow: 8px 8px 15px gray;
}

div.text{
    /* border: 1px solid violet; */
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 8px 15px gray;
}

h3{
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ab8d3f;
    border-bottom: 3px solid #efede1;
    width: 90%;
    margin: 5px 0px;
    font-family: "Arial";
}

p{
    font-size: 16px;
    line-height: 26px;
    color: #2c104c;
    padding: 0 30px;
    font-family: "Arial";
}


div.origin_img{
    border-top-left-radius: 120px;
}
div.origin_text{
    border-bottom-right-radius: 120px;
}

div.idea_img{
    border-top-right-radius: 120px;
}
div.idea_text{
    border-bottom-left-radius: 120px;
}

div.team_img{
    border-top-left-radius: 120px;
}
div.team_text{
    border-bottom-right-radius: 120px;
}
@media(max-width:575px){
    section{
        display: block;
  }
}