* {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
    font-family: "Arial","微軟正黑體";
}
body {
    padding-top: 80px;
    background-color: #efede1;
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-position:left bottom;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* header */
header {
  width: 100%;
    /* margin: 0 auto; */
    /* height: 80px; */
    position: fixed;
    top: 0;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255, 0.8);
    z-index: 5;
  }
  
  div.header_inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  div.header_inner div.logo img{
    max-width: 160px;
  }
  nav {
    max-width: 800px;
    width: 800px;
    /* background-color: yellow; */
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
  .hamburger{
    width: 15px;
    height: 15px;
    color: #2c104c;
    display: none;
    margin: 0px 30px;
  }
  
  ul.nav {
    display: flex;
    align-items: center;
    /* display: none; */
  }

  ul.nav li {
    margin: 10px;
    width: 90px;
    position: relative;
  }
  
  ul.nav li a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2c104c;
    line-height: 20px;
  }
  
  ul.nav li:hover a {
    font-weight: 600;
    color:  #2c104c;
    text-shadow: white 0px 0px 20px;
  }
  
  ul.nav li a::after{
    content: "";
    display: flex;
    background-color: #ab8d3f;
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -12px;
    left: 15px;
    z-index: -5;
    transition: all .4s; 
  
  }
  ul.nav li:hover a::after{
    content: "";
    display: flex;
    background-color: #ab8d3f;
    width: 70%;
    height: 5px;
    position: absolute;
    bottom: -12px;
    left: 15px;
    border-radius: 50px;
    z-index: -5;
  }

  div.icon {
    display: flex;
    align-items: center;
  }
  
  img.iconimg {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }

  div.cart{
    width: 22px;
    height: 22px;
    margin: 5px;
    background-image: url(../img/cart.png);
    background-size: cover;
  }

  div.cart:hover{
    background-image: url(../img/carth.png);
  }

  div.user{
    width: 22px;
    height: 22px;
    margin: 5px;
    background-image: url(../img/user.png);
    background-size: cover;
  }

  div.user:hover{
    background-image: url(../img/userh.png);
  }

  #about{
    font-weight: bold;
  }

  #about:after{
    content: "";
    display: flex;
    background-color: #ab8d3f;
    width: 70%;
    height: 5px;
    position: absolute;
    bottom: -12px;
    left: 15px;
    border-radius: 50px;
  }

@media(max-width:767px){
  /* nav */
  button.hamburger{
  display: block;
  }
  nav {
    width: 100%;
    display: block;
    position: absolute;
    top: 75px;
    background-color: rgba(205, 187, 140,0.9);
    margin: 0;
    display: none;
    z-index: 20;
  }
  ul.nav {
    display: block;
    text-align: center;
  }
  ul.nav li{
    width: 100%;
    margin: 0;
    padding: 40px;
  }
    ul.nav li a{
      padding: 30px 100px;
    }
    ul.nav li:active{
      background-color: #fff;
    }
    ul.nav li:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    #about:after{
      background-color: transparent;
      width: 0;
      height: 0;
    }
    ul.nav li:hover a::after{
      background-color: transparent;
      width: 0;
      height: 0;
    }

    div.icon{
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 15px;
    }

  }

  /* header結束 */
  
  /* footer */
  div.warning{
    color: #2c104c;
    font-size: 24px;
    font-weight: bold;
    width: 260px;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  footer{
    width: 100%;
    background: #2c104c;
  }

  .main_footer{
    max-width: 1100px;
    margin: auto;
  }

  ul.footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  ul.footer li,
  ul.footer li>a{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    color: #ab8d3f;
  }
  
  div.copyright{
    display: flex;
    /* width: 100%; */
    margin: auto;
    justify-content: center;
    background: #2c104c;
  
  }
  
  div.copyright p{
    text-align: center;
    padding-bottom: 20px;
    color:  #ab8d3f;
    font-weight: lighter;
    font-size: 13px;
  }
  /* 對話框 */
  .messenger{
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 555;
  }
  
  .messenger:hover{
    bottom: 100px;
  }

  .box {
    display: none;
    margin: 0;
    width: 350px;
    position: fixed;
    bottom: 30px;
    right: 105px;
    z-index: 5;
    padding: 5px;
}

  .box div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  }

  .boxinner{
    /* height: 200px; */
    overflow: auto;
    max-height: 300px;
    border-radius: 10px 10px 0px 0px;
  }

  .boxinner div{
    display: flex;
    align-items: center;
    background-color: rgba(171, 141, 63, 0.9);
  }

    div.box p{
    /* width: 80%; */
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: white;
    justify-content: flex-end;
    padding: 0;
    }

    div.ask,div.guest{
      padding: 10px;
    }

    div.guestAsk {
    display: flex;
    justify-content: center;
    background-color: rgba(205, 187, 140, 0.9);
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    }

    .box input {
    width: 70%;
    height: 40px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 12px;
    }

    .box button {
    font-size: 12px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: white;
    text-shadow: 0px 0px 3px gray;
    }

    @media(max-width:767px){
      ul.footer{
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
      }
    }

    @media(max-width:575px){
      .box {
        bottom: 160px;
        right: 30px;
      }
    }
  /* footer結束 */