.header_inner2 {
    max-width: 1200px;
    margin: auto;
    /* background: rgb(255, 255, 255,.7); */
    z-index: 5;
}
ul.nav2 {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  ul.nav2 li {
    border-radius: 5px;
    padding: 2px 10px;
    background: rgb(205, 187, 140,.1);
    margin-top: 5px;
    position: relative;
  }
  
  ul.nav2 li a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ab8d3f;;
    line-height: 20px;
  }
  
  ul.nav2 li:hover a {
    font-weight: 600;
    color:  #2c104c;
    text-shadow: white 0px 0px 20px;
  }

/* banner */
div.banner{
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1200px;
    height: 600px;
    background-image: url(../img/coursecontentbanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.banner h2.pagename{
    width: 40%;
    font-weight: bold;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
    display: block;
    text-shadow:black 1px 1px 4px;
    background-color: rgba(239, 237, 225,0.3);
    padding: 20px;
    font-family: "Arial";
}

/* 主內容 */
div.main{
    max-width: 1200px;
    margin: auto;
}
    /* left話很多的那邊 */
div.left{
    margin: auto;
    max-width: 800px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

div.other img{
    width: 15px;
}

div.heart{
    cursor: pointer;
}

div.other{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

div.other p{
    align-items: center;
    text-align: center;
    color: #2c104c;
    font-family: "Arial";
}

h2{
    margin: 10px 20px 10px 5px;
    width: 210px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2c104c;
    font-family: "Arial";
}

div.other span{
    align-items: center;
    text-align: center; 
    font-size: 16px;
    color: #2c104c;
    /* display: block; */
    font-family: "Arial";
}

a {
    text-decoration: none;
}

span.title{
    display: inline-block;
    margin: 10px 0px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ab8d3f;
}

span.title1{
    display: inline-block;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2c104c;
}

p.text{
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #2c104c;
    font-family: "Arial";
    padding: 5px 0;
}

div.bottom{
    background-color: rgba(205,187,140,0.5);
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #2c104c;
}

div.bottom div.text{
    background-color: #efede1;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #2c104c;
    vertical-align: center;
}

div.bottom div.first{
    margin-top: 30px;
}

div.bottom div.last{
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
}

div.part{
    width: 90%;
    border-bottom: 3px solid #cdbb8c;
}
div.part:last-child {
    border-bottom: transparent;
}

div.option option,div.option select ,div.option input{
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
}

input#count{
    text-align: center;
    width: 50px;
    border-radius: 5px;
}

input#coupon {
    width: 100px;
    border-radius: 5px;
}

input:focus {
    border-color: #ab8d3f;
    background-color: rgb(235, 217, 170);
}

button#checkCoupon{
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
button#checkCoupon:active {
    background-color: rgb(191, 161, 83);
}

div.Q{
    padding-top: 10px;
}

button.add {
    text-align: center;
    border: none;
    font-size: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color:  #ab8d3f;
    color: white;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
    border-radius: 50%;
    outline: none; 
  }

  button.min {
    background-color:  #999;
  }

div.text div{
      display: inline-block;
      font-weight: bold;
}

div.text span{
    font-size: 18px;
    font-weight: bold;
    color: #2c104c;
    font-family: "Arial";  
    letter-spacing: 1px;
    font-weight: bold;
}

div.text span.number{
    /* display: inline-block; */
    margin: 10px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2c104c;
    font-family: "Arial";
}

div.bottom div.button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  div.bottom div.button button.cart{
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ab8d3f;
    border-radius: 20px;
    border: 2px solid #ab8d3f;
    padding: 5px 10px;
    text-align: center;
    text-shadow: #cdbb8c 0px 0px 10px;
    transition: all 0.6s ease 0s;
    outline: none; 
  }

  div.bottom div.button button.cart:hover, button.buy:hover, span.date:hover{
    transform: translateY(-10%);
    transition: all 0.4s ease 0s;
  }

button.buy, span.date{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16x;
    letter-spacing: 2px;
    color: white;
    display: inline-flex;
    border-radius: 20px;
    background-color: #ab8d3f;
    text-align: center;
    text-shadow: white 1px 1px 3px;
    padding: 5px 15px;
    transition: all 0.6s ease 0s;
    outline: none; 
}

span.date a{
    color: white;
}
    /* right東西少的 */
div.right{
    position: sticky;
    top: 100px;
    max-width: 500px;
    /* height: 200px; */
    display: inline-block;
    border: 3px solid rgba(205,187,140,0.5);
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #2c104c;
}

div.right div.text{
    align-items: center;
    /* width: 100%; */
}

div.right div.text p{
    display: inline-block;
    padding: 5px;
    margin: 0;
    font-size: 16px;
    color: #2c104c;
    font-family: "Arial";
}

div.date{
    margin: 15px 0px;
}

    /* left下方的評論區 */
div.sort span.sort{
    font-size: 12px;
    color: #2c104c;
    padding-top: 5px;
}

div.sort{
    display: flex;
    justify-content: flex-end;
}

div.sort option,div.sort select{
    font-size: 12px;
    border-radius: 5px;
    width: 110px;
    height: 20px;
    color: #2c104c;
}

div.comment{
    /* background-color: aqua; */
    width: 100%;
}
div.comment div.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

div.comment div.name{
    width: 60%;
    margin: 10px;
    display: inline-block;
}

div.comment div.name h4{
    font-size: 16px;
    padding: 5px 0px;
    font-weight: bold;
    color: #2c104c;
    font-family: "Arial";
}

div.comment div.name p{
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0px;
    color: #2c104c;
    font-family: "Arial";
}

span.fivestar img{
    width: 13px;
    margin-right: 2px;
}

div.smallimg{
    width: 100%;
    border-bottom: 3px dotted #ab8d3f;
    padding-left: 150px;
}

div.smallimg img{
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.right img{
    width: 20px;
}

    /* left裡面的datepicker */
label {
    margin-left: 20px;
}
#datepicker {
    width:250px;
}
#datepicker > span:hover {
    cursor: pointer;
}

/* 頁數 */
div.page{
    display: flex;
    margin: auto;
    margin-bottom: 80px;
}
  div.page > ul.pagination{
    margin: auto;
    font-size: 0;
  }
  div.page > ul.pagination > li{
    display: inline-block;
    font-family: "Arial";
  }
  div.page > ul.pagination > li > a{
    display: inline-block;
    text-align: center;
    padding: 10px 18px;
    margin: 5px;
    font-size: 1rem;
    color: #2c104c;
  }
  
  
  div.page > ul.pagination > li > a.-on{
    background-color: #ab8d3f;
    font-weight: bold;
    color: #2c104c;
    border-radius: 50%; 
  }
  
  div.page > ul.pagination > li > a:hover{
    background-color: #ab8d3f;
    font-weight: bold;
    color: #2c104c;
    border-radius: 50%; 
  }
  #sub{
      margin: 0;
  }