.slick-prev:before, .slick-next:before{
  color:#ab8d3f;
}

a{
  text-decoration: none;
}
div.main_top{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

div.single-item{
  width: 100%;
}

div.img_p1 {
  position: relative;
}

p.img_p1 {
  position: absolute;
  top: 120px;
  right: 200px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:black 1px 1px 4px;
}

div.img_p2 {
  position: relative;
}

p.img_p2 {
  position: absolute;
  top: 40%;
  left: 25%;
  color: #2C104C;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:white 1px 1px 10px;
  background-color: rgba(205,187,140,0.3);
  padding: 20px;
}

div.img_p3 {
  position: relative;
}

p.img_p3 {
  position: absolute;
  bottom: 10%;
  left: 18%;
  color: #2C104C;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:white 1px 1px 10px;
  background-color: rgba(205,187,140,0.3);
  padding: 20px;
}

div.main_bottom{
  max-width: 1200px;
  margin: auto;
}

div.course{
  margin: 80px auto;

}

div.course div.title{
  position: relative;
  width: 550px;
  height: 130px;
  background-image: url("../img/course.png");
  background-repeat: no-repeat;
  margin: auto;
}

div.course div.title h2{
  width: 106px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #2C104C;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #2C104C;
  position: absolute;
  top: 50px;
  left: 220px;
}

div.course div.title p{
  font-size: 14px;
  color: #2C104C;
  padding: 10px;
  position: absolute;
  top: 90px;
  left: 220px;
}

div.course_inner {
  margin: auto;
  display: flex; 
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0;
}


div.course_inner >div.course1 {
  width: 300px;
  height: 380px;
  box-shadow: 5px 5px 15px gray;
  text-align: center;
  background-color: #623b2a;
  border-radius: 10px;
  overflow: hidden;
}

div.course_inner >div.course2 {
  width: 300px;
  height: 380px;
  box-shadow: 5px 5px 15px gray;
  text-align: center;
  background-color: #2c104c;
  border-radius: 10px;
  overflow: hidden;
}

div.course_inner >div.course3{
  width: 300px;
  height: 380px;
  box-shadow: 5px 5px 15px gray;
  text-align: center;
  background-color: #018522;
  border-radius: 10px;
  overflow: hidden;
}

div.course_inner p {
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  text-shadow: white 0px 0px 20px;
  text-align: center;
  padding-top: 30px;
}

div.recipe div.title{
  position: relative;
  width: 550px;
  height: 130px;
  background-image: url("../img/recipe.png");
  background-repeat: no-repeat;
  margin: auto;
}

div.recipe div.title h2{
  width: 106px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #2C104C;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #2C104C;
  position: absolute;
  top: 50px;
  left: 220px;
}

div.recipe div.title p{
  font-size: 14px;
  color: #2C104C;
  padding: 10px;
  position: absolute;
  top: 90px;
  left: 210px;
}

div.recipe div.recipe_inner div.img{
  width: 500px;
  height: 400px;
  display: inline-block;
  position: relative;
  left: 170px;
  top: 20px;
}
div.recipe div.recipe_inner div.img img{
  box-shadow: 5px 5px 15px gray;
}

div.recipe div.recipe_inner div.bottom{
  width: 400px;
  height: 315px;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  position: relative;
}

div.recipe div.recipe_inner div.bottom div.article{
  position: absolute;
  top: 10px;
  left: 50px;
  line-height: 22px;
  color: #2c104c;
  font-family: "Arial";
}

div.recipe div.recipe_inner div.bottom div.article h3{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ab8d3f;
  border-bottom: 3px solid #efede1;
  width: 78%;
  margin: 3px 0px;
  font-family: "Arial";
}

div.recipe div.recipe_inner div.bottom div.article p.title2{
  font-size: 16px;
  /* font-weight: bold; */
  letter-spacing: 1px;
  color: #ab8d3f;
  padding-top: 5px;
}

div.recipe div.recipe_inner div.bottom div.article div.button{
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 30px;
}

div.recipe div.recipe_inner div.bottom div.article div.button span{
  width: 90px;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  display: inline-flex;
  border-radius: 20px;
  background-color: #ab8d3f;
  padding: 5px 5px 5px 10px;
  text-shadow: white 0px 0px 10px;
}

div.classroom div.title{
  position: relative;
  width: 550px;
  height: 130px;
  background-image: url("../img/classroom.png");
  background-repeat: no-repeat;
  margin: auto;
}

div.classroom div.title h2{
  width: 106px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #2C104C;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #2C104C;
  position: absolute;
  top: 50px;
  left: 220px;
}

div.classroom div.classroom_inner{
  width: 900px;
  height: 500px;
  margin: auto;
  position: relative;
}

div.classroom div.classroom_inner div.button{
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 30px;
}

div.classroom div.classroom_inner p{
  width: 500px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:black 1px 1px 4px;
  background-color: rgba(205,187,140,0.3);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 0px;
}

div.classroom div.classroom_inner div.button span{
  width: 90px;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  display: inline-flex;
  border-radius: 20px;
  background-color: #ab8d3f;
  padding: 5px 5px 5px 10px;
  text-shadow: white 0px 0px 10px;
  position: absolute;
  bottom: 150px;
  left: 100px;
}